SHOPIFY_SHOP_DOMAIN=tvrj5j-ae.myshopify.com
SHOPIFY_CLIENT_ID=replace_with_dev_dashboard_client_id
SHOPIFY_CLIENT_SECRET=replace_with_dev_dashboard_client_secret
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=use_a_long_unique_password
