SHOPIFY_SHOP_DOMAIN=tvrj5j-ae.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_WEBHOOK_SECRET=replace_with_shopify_webhook_secret
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=use_a_long_unique_password
